<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <script lang="javascript">
        function changeTextButton(){
            var changeBtn = document.getElementById("changeButton");
            if(changeBtn.value == "Click me!"){
                changeBtn.value = "You clicked me";
            }
            else{
                changeBtn.value = "Click me!";
            }
        }
    </script>
</head>
<body>
    <h1>hie Brow!</h1>
    <input type="button" id="changeButton" value="Click me!" onclick="changeTextButton()"/>
</body>
</html>