<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <script lang="javascript">
        function changeTextButton(){
            var changeBtn = document.getElementById("changeButton");
            if(changeBtn.value == "Click me!"){
                changeBtn.value = "You clicked me";
            }
            else{
                changeBtn.value = "Click me!";
            }
        }
    </script>
</head>
<body>
    <h1>hie Brow!</h1>
    <input type="button" id="changeButton" value="Click me!" onclick="changeTextButton()"/>

        <form action="api/printName" method="GET" id="nameForm">
        <div>
            <label for="nameField">How should the app call you?</label>
            <input name="myName" id="nameField">
            <button>Greet me!</button>
        </div>
    </form>
</body>
</html>